/*-------------------------Todos--------------------------------*/
.paddingt {
    margin-top: 1em;
}

/*-------------------------Richi--------------------------------*/

/*-------------------------Diegarma--------------------------------*/
#tag1{
    background: rgb(147, 221, 255);
    text-shadow: 1px 1px #fff;
}
#tag2{
    background: rgb(0, 136, 255);
    text-shadow: 1px 1px #fff;
}

/*-------------------------Danirex--------------------------------*/

/*-------------------------lalo--------------------------------*/

#titulos{
    
}

/*-------------------------zaulol--------------------------------*/
